@define-color accent_color #98971a;
@define-color accent_bg_color #98971a;
@define-color accent_fg_color #0b1b0f;

/* Selection */
*:selected {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
}

/* Buttons */
button:checked,
button:active {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
}

